.counter-header,
.button,
.count-tracker,
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}


.name-input, 
.message-input, 
.email-input,
.form-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

}
.name-input, 
.message-input, 
.email-input {
    width: 100%
}

.form-container {
    max-width: 90%;
    margin: auto;
    max-width: 1000px;
}
.counter-header {
    position: relative;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    font-size: 24px;
}
.redirect-contactMe{
    list-style-type: none;
    margin: 0 10px;
}

nav {
    position: absolute; 
    right: 20px; /* Move the nav 20px from the right side of parent container*/
    bottom: 20px; /* Move the nav 20px from the bottom of parent container*/
  }
  .header-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    font-size: 16px;
    text-decoration: underline;
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}